<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "Tysson" %></title>

    <title>TYSSON</title>
    <meta name="description" content="Official website of TYSSON. Download/Stream new music, see tour dates and more.">
    <meta name="author" content="TYSSON">
    <meta property="og:title" content="TYSSON"/>
    <meta property="og:url" content="http://www.tyssonband.com" />
    <meta property="og:image" content="http://www.tyssonband.com/images/tysson-logo-1500x1500.jpg" />
    <meta property="og:site_name" content="Tysson"/>
    <meta property="og:description" content="Official website of TYSSON. Download/Stream new music, see tour dates and more."/>
    <%= favicon_tag 'images/favicon.png' %>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wordmark">
      <h1>Tysson</h1>
    </div>

    <div class="listen-link">
      <a href="https://open.spotify.com/album/1BhOnOYYY05hZnCOHXiFsr" class="button">Listen on Spotify</a>
    </div>

    <div class="band-photograph"></div>

    <ul class="social">
      <li class="social__item">
        <a href="https://facebook.com/tysson">Facebook</a>
      </li>
      <li class="social__item">
        <a href="http://www.twitter.com/tyssonband">Twitter</a>
      </li>
      <li class="social__item">
        <a href="https://soundcloud.com/tyssonband">Soundcloud</a>
      </li>
      <li class="social__item">
        <a href="https://www.instagram.com/tyssonband/">Instagram</a>
      </li>
      <li class="social__item">
        <a href="https://www.facebook.com/tysson/app/123966167614127/">Tour dates</a>
      </li>
    </ul>

    <div class="subscribe">
      <a class="button" href="http://eepurl.com/SmRM9">Subscribe</a>
    </div>

    <%= yield %>
  </body>

  <%= javascript_include_tag :all %>

</html>
